* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/pokemon_light.PNG");
  background-position: right top;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}
